html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container_a {
width: 302px;
height: 35px;
border: 1px solid #AAA;
border-radius: 3px;
box-shadow: 1px 1px 7px #ccc inset;
background-color: white;
margin: 20px;
}

.line {
background-color: white;
position: relative; 
top:40%; 
height:3px; 
border: 1px solid #aaa;
border-radius: 3px;    
box-shadow: 1px 1px 3px #ddd , 0px -1px 1px #eee inset;
width:98%;
margin-right: auto;
margin-left: auto;
}

.container_b {
margin-left: 20px;
margin-right: 20px;
}

.label {
font-size: 10px;
}

.seq {
display: inline;
float: left;
margin-top: -8px;
}

.box {
border: 1px solid #aaa;
text-align: center;
border-radius: 3px;    
box-shadow: 1px 1px 3px #ccc, 0px -1px 2px #ccc inset;
background-color: white;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 3px;
padding-right: 3px; 
}

.dist { 
display: inline;
float: left;
margin-left:4px;
margin-right: 4px;
margin-top: 5px;
border-bottom: solid 2px #aaa;
border-left: solid 1px #aaa;
border-right: solid 1px #aaa;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.dist .label {
margin-left: 10px;
margin-right: 10px;
margin-bottom: -10px;
padding-left: 10px;
padding-right: 10px;
background: white;
}

.tss {
display: inline;
float: left;
margin-top: -8px;
}