/ I tried to make a class of parentheses that would contain other divs, allowing it to span several objects as a meta-measurement. The objects inside render wrong, however it's probably fixable. But I'm leaving it out for now so I can move on. The class is called .topparen
.diagram
	.widgetlabel
		Promoter
	.line
		.box
			.a
				A
			.g
				G
			.c
				C
			.c
				C
			.t
				T
			.a
				A
		.bottomparen
			.parenlabel 10
		.box
			.a
				A
			.t
				T
			.t
				T
			.a
				A
			.c
				C
			.g
				G
		.bottomparen
			.parenlabel 35
		.box
			TSS
